/* @import url('https://fonts.googleapis.com/css?family=Major+Mono+Display'); */

html, body {
    font-family: 'Major Mono Display', monospace;
    margin: 0;
    border: 0;
    font-size: 100%;
    background-color: #000000;
    color: #ffffff;
}
